include LICENSE
include requirements-dev.txt
include ui/package.json
include ui/public/favicon.ico
include ui/public/index.html
include ui/public/manifest.json
recursive-include ui/src *.css *.js *.svg
