body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.alert-content {
    text-align: center;
}

.dashboard-content {
    text-align: center;
}

th {
    text-align: center;
}

.text-summary {
    text-align: center;
    margin-top: 1em;
}

.jobs-summary {
    margin-top: 3em;
}

.list-empty {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.control-button-container {
    text-align: center;
    margin: 1em;
}

.item-panel {
    float: right;
}

.item-log {
    display: inline-block;
    margin-right: 1em;
}

.list-item {
    overflow: auto;
}

.list-item-secondary {
    overflow: auto;
    margin-top: 0.5em;
    color: #666;
}

.spider-list {
}

.spider-list Button {
    margin: 0.3em;
}
