body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.alert-content {
    text-align: center;
}

.dialog-content-center {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.dialog-content-left {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}

.dashboard-content {
    margin: 2em;
    text-align: center;
}

th {
    text-align: center;
}

.text-summary {
    text-align: center;
    margin-top: 1em;
}

.jobs-summary {
    margin-top: 3em;
}

.list-empty {
    text-align: center;
    color: #777;
    margin-top: 2em;
    margin-bottom: 2em;
}

.control-button-container {
    text-align: center;
    margin-bottom: 1em;
}

.item-panel {
    float: right;
}

.item-panel-links {
    display: inline-block;
    margin-right: 1em;
}

.list-item {
    overflow: auto;
}

.list-item-secondary {
    overflow: auto;
    margin-top: 0.5em;
    color: #666;
}

.spider-list Button {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.content {
    margin-top: 2em;
}

.project-list-item {
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 1em;
}

.list-group-item {
    padding: 0;
}

.list-group-item-body {
    margin-left: 15px;
    margin-right: 15px;
    margin-top  : 15px;
    margin-bottom: 15px;
}

.accordion-header {
    text-align: center;
    border-top: #ddd 1px solid;
    background: #eee;
    color: #666;
    padding-left: 15px;
    padding-right: 15px;
}

pre {
    margin-bottom: 0;
}

.content-container {
    margin-bottom: 3em;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
  color: #dcdcdc;
}
