attrs==19.3.0
autobahn==20.4.3
Automat==0.8.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
dnspython==1.16.0
elasticsearch==7.5.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
lxml==4.4.2
mysql-connector-python==8.0.19
parsel==1.5.2
pem==20.1.0
Protego==0.1.16
protobuf==3.6.1
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==2.0.0
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2019.3
queuelib==1.5.0
requests==2.22.0
schedule==0.6.0
Scrapy==1.8.0
scrapy-do==0.4.0
service-identity==18.1.0
six==1.14.0
tabulate==0.8.7
Twisted==19.10.0
txaio==20.4.1
tzlocal==2.0.0
urllib3==1.25.8
w3lib==1.21.0
zope.interface==4.7.1

